@page "/profile/{username}"
@layout ProfileLayout
@inject UserService UserService


<div class="page">
        
    <div class="sidebar">
        <NavMenu username="@username"></NavMenu>
    </div>

    <main>
        <ProfileDetails _user="@_user"></ProfileDetails>

    </main>

    
</div>

@code {
    [Parameter]
    public string username { get; set; }


    public User _user = new User();

    private bool viewBlogs = false;

    private bool manageBlogs = false;

    protected override void OnInitialized()
    {
        _user = UserService.GetUserByUsername(username);

    }
}
