@page "/Home/{username?}"
@page "/Home"
@page "/"
@layout HomeLayout

<div class="container-fluid outer">

    <NavBar isVisible="@isUserLoggedIn" username="@username"></NavBar>
    <Body username="@username" />

<Subscribe />
</div>
<FooterHome />

@code {
    [Parameter]
    public string? username { get; set; } // The email parameter is optional

    private bool isUserLoggedIn => !string.IsNullOrEmpty(username);
}
