@inject UserService UserService




        <nav class="navbar navbar-expand-md navbar-dark bg-info">


            <a class="navbar-brand h1 px-md-5 mx-5 px-sm-2 font-monospace" >AUCIS Student Clubs</a>



            <button class="navbar-toggler mx-2 p-2 font-monospace" type="button" @onclick="ToggleNavMenu">
                <span class="oi oi-menu"></span>
            </button>
            <div class="@NavMenuCssClass " id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0 align-items-center font-monospace">

            


                    @if (!isVisible)
                    {
                <li class="nav-item  font-monospace">
                            <NavLink class="nav-link px-3 mr-3" href="/Login">
                        <span class="oi oi-account-login px-2 text-white "></span> Login
                            </NavLink>
                        </li>
                    }
                    else
                    {


                <li class="nav-item  font-monospace ">
                    <NavLink class="nav-link px-3 text-white" href="@($"/profile/{username}")">
                        <span class="oi oi-person text-white"></span> Hello, @username!
                            </NavLink>
                        </li>
                <li class="nav-item  font-monospace text-white">
                    <NavLink class="nav-link px-3 text-white" href="@($"/create-blog/{username}")">
                        <span class="oi oi-plus text-white" aria-hidden="true"></span> Create Blog
                            </NavLink>
                        </li>
                <li class="nav-item  font-monospace">
                        <NavLink class="nav-link px-3" href="/" >
                            <span class="oi oi-account-logout px-2 text-white"> Logout</span>
                        </NavLink>
                    </li>
                    }
                </ul>
            </div>
        </nav>


@code {
    private bool collapseNavMenu = true;
    
    [Parameter]
    public bool isVisible { get; set; }
    
    [Parameter]
    public string? username { get; set; }


    protected override void OnInitialized()
    {
       
    }

    private string? NavMenuCssClass => collapseNavMenu ? "collapse navbar-collapse" : "navbar-collapse";

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
