@inject UserService UserService
@inject AdminService AdminService
@page "/admin/removeuser"
@layout AdminLayout


<div class="container my-5">

<h3 class="text-center font-monospace">RemoveUser</h3>

<div class="container">
    <table class="table">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Email</th>
                <th>Username</th>
                <th>Remove</th>
            </tr>
       
            @foreach (var item in _users)
            {
                <tr class="font-monospace">

                    <td>@item.user_id</td>
                    <td>@item.Name</td>
                    <td>@item.Email</td>
                    <td>@item.username</td>
                    <td><button class="btn btn-outline-danger" type="button" @onclick="()=>HandleRemove(item.user_id)">X</button></td>
                </tr>
            }
      

</table>
</div>

</div>

@code {
    public List<User> _users = new List<User>();
    public User _user = new User();
    private bool Show { get; set; } = false;

    private void ShowMore()
    {
        Show = true;
    }
    private void ShowLess()
    {
        Show = false;
    }

    protected override void OnInitialized()
    {
        _users = UserService.GetUsers();
    }

    private void HandleRemove(int i)
    {
        AdminService.deleteUser(i);
        _users = UserService.GetUsers();

    }
}   
